
{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">About Us</h1>
            <p class="lead">Welcome to our store! We are passionate about providing high-quality products and excellent customer service. Our mission is to create a seamless and enjoyable shopping experience for you.</p>
            <p>Our team is made up of dedicated professionals who are always ready to assist you. We believe in the power of community and strive to build lasting relationships with our customers.</p>
            <p>Thank you for choosing us. We look forward to serving you!</p>
        </div>
    </div>
</div>
{% endblock %}
