
{% extends '_base.html' %}

{% block title %}Welcome to MJB Watches{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Welcome to MJB Watches</h1>
            <p class="lead mb-0">Your source for premium, high-quality timepieces.</p>
            <p>Explore our exclusive collection and find the watch that defines you.</p>
            <a href="{% url 'pages:about' %}" class="btn btn-primary mt-3">Explore Our Collection</a>
        </div>
    </div>
</div>
{% endblock %}
